<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{fragments/main_layout}">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Description</title>
</head>
<body>
<div layout:fragment="content" class="container">
    <div th:if="${item} != null">
        <div class="card m-5 pb-5 bg-info shadow p-4 mb-4 bg-white">
            <div class="card-body">
                <h5 class="card-title" th:text="${item.itemName}"></h5>
                <p> <b>Description:</b> <span class="card-text" th:text="${item.itemDescription}"></span></p>
                <p> <b>Price:</b> <span class="card-text text-success" th:text="${item.itemPrice} + ' Rs'"></span></p>
                <p> <b>Seller:</b> <span class="card-text" th:text="${item.sellerName}"></span></p>
                <p> <b>Seller Contact:</b> <span class="card-text" th:text="${item.sellerEmail}"></span></p>
                <a class="btn btn-danger" th:href="@{'/item/delete/' + ${item.id}}">Delete</a>
                <a class="btn btn-warning" th:href="@{'/item/edit/' + ${item.id}}">Edit</a>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>